.hello{
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: calc(100vh - 50px);
    button{
        width: 20vw;
        height: 30px;
        border: none;
        &:hover{
            background-color: red;
        }
    }
}
.page{
    background-color: rgb(64, 64, 64);
    width: 100vw;
    height: calc(100vh - 50px);
}