// .products{
//     width: 100vw;
//     height: 100vh;
//     scroll-snap-type: x mandatory;
//     display:flex;
//     overflow-x: scroll;
//     background-color: rgb(177, 178, 181);
//     scroll-behavior: smooth;
//     .sec{
//         width: 100vw;
//         height: 100vh;
//         scroll-snap-align: center;
//         background-color: orange;
//     }
// }
.wrap{
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    button {
        position:absolute;
        top: 50%;
        z-index: 3;
        height: 200px;
        transform: translateY(-50%);
    }
    .scroll-left {
        left: 15px;
      }
    .scroll-right {
        right: 15px;
    }
}
.products{
    width: 100vw;
    height: 100vh;
    position: relative;
    scroll-snap-type: x mandatory;
    display:flex;
    flex-direction: row; /* set flex direction to row */
    overflow-x: scroll;
    background-color: rgb(177, 178, 181);
    scroll-behavior: smooth;
    .sec{
        width: 100vw;
        height: 100vh;
        scroll-snap-align: center;
        background-color: orange;
        position: relative;
        flex-shrink: 0; /* prevent items from shrinking */
    }
    
  }
  